<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-primary">

  <a [routerLink]="['']" class="navbar-brand text-decoration-none text-white">Pizza shop</a>

  <button (click)="collapsed = !collapsed" class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="collapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a [routerLink]="['/cart']" class="nav-link mr-3">
          <fa-layers class="fa-fw">
            <fa-icon [icon]="faCart"></fa-icon>
            <fa-layers-counter *ngIf="cart.count() > 0" [content]="cart.count().toString()" class="counter"></fa-layers-counter>
          </fa-layers>
        </a>
      </li>
      <li class="nav-item">
        <div class="d-inline-block mr-3 small" ngbDropdown>
          <button class="btn btn-primary" ngbDropdownToggle>
            {{ currencyService.active?.code }}
          </button>
          <div ngbDropdownMenu>
            <button (click)="currencyService.active = item"
                    *ngFor="let item of currencies; trackBy: ( 'id' | trackByProperty )"
                    [class.active]="currencyService.active.id === item.id"
                    ngbDropdownItem>
              {{ item.code }}
            </button>
          </div>
        </div>
      </li>
      <li *ngIf="!authorized" class="nav-item">
        <a [routerLink]="['/login']" class="nav-link">Log in</a>
      </li>
      <li *ngIf="authorized" class="nav-item">
        <a (click)="logout()" class="nav-link" href="#">Log out</a>
      </li>
    </ul>
  </div>
</nav>