.counter {
  font-size: 2.2em;
  position: relative;
  top: -8px;
  right: -8px;
  float: right;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-item.simple-item .nav-link {
  padding-left: 12px;
  padding-right: 12px;
}