<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Cart</h1>
</div>

<div *ngIf="cart.isEmpty()" class="mx-auto text-center flex-grow-1 flex-shrink-0 d-flex align-items-center mb-5">
  <h1 class="lead">Empty</h1>
</div>

<div *ngIf="!cart.isEmpty()" class="container">
  <table class="table table-hover table-condensed" id="cart">
    <thead>
    <tr>
      <th style="width:50%">Product</th>
      <th style="width:10%">Price</th>
      <th class="text-center" style="width:12%">Quantity</th>
      <th class="text-center" style="width:15%">Subtotal</th>
      <th style="width:13%"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of cart.get(); trackBy: ('id' | trackByProperty)">
      <td data-th="Product">
        <div class="row d-flex align-middle">
          <div class="col-sm-4 hidden-sm">
            <img class="img-responsive" src="{{ item.product.image.url }}"/>
          </div>
          <div class="col-sm-8 small d-flex flex-column justify-content-center product-body">
            <h4>{{ item.product.name }}</h4>
            <p>{{ item.product.description }}</p>
          </div>
        </div>
      </td>
      <td data-th="Price">{{ item.product.price | price }}</td>
      <td data-th="Quantity">
        <app-input-stepper
            #stepper
            (valueChange)="cart.add(item.product, stepper.value - item.quantity)"
            [value]="item.quantity">
        </app-input-stepper>
      </td>
      <td class="text-md-center" data-th="Subtotal">{{ (item.product.price * stepper.value) | price }}</td>
      <td class="actions" data-th="">
        <button (click)="cart.remove(item.product)" class="btn btn-danger btn-sm w-100">
          <fa-icon [icon]="faTrash"></fa-icon>
          <span class="ml-2">Remove</span>
        </button>
      </td>
    </tr>
    <tr>
      <td colspan="3" data-th="Delivery">
        <app-delivery #delivery [errors]="errors"></app-delivery>
      </td>
      <td class="text-md-center" data-th="Total">
        {{ delivery.price | price }}
      </td>
      <td class="hidden-sm"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>
        <a [routerLink]="['/menu']" class="btn btn-outline-primary">
          <fa-icon [icon]="faArrowLeft" class="mr-2"></fa-icon>
          Continue Shopping
        </a>
      </td>
      <td class="hidden-sm" colspan="2"></td>
      <td class="hidden-sm text-center"><strong>Total <span>{{ total | price }}</span></strong></td>
      <td>
        <button (click)="sendOrder()" [disabled]="sending" class="btn btn-success btn-block">
          <fa-icon *ngIf="sending" [icon]="faSpinner" [spin]="true"></fa-icon>
          Checkout
        </button>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<ng-template #successSend let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button (click)="modal.close('Close click')" class="close" data-dismiss="modal" type="button">
        <span>×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="thank-you-pop">
        <img alt="" src="/assets/images/Green-Round-Tick.png">
        <h1>Thank You!</h1>
        <p>Your submission is received and we will contact you soon</p>
        <h3 class="cupon-pop">Your order ID: <span>#{{ createdOrder.id }}</span></h3>
      </div>
    </div>
  </div>
</ng-template>